<div class="container">
  <div class="col-xs-12 col-md-3">
    <section class="section-search item-search">
      <article class="feature">
        <div class="feature-left">
            
        </div>
        <div class="feature-center">
          <div class="content-center-child">
            <div class="content-center-child-item header"></div>
            <div class="content-center-child-item center content-center-child-grow fill-area">
              <div class="content-center-child-grow fill-area-content">

              </div>
            </div>
            <div class="content-center-child-item footer"></div>
          </div>
        </div>
        <div class="feature-right">
          <div class="content-right-child">
            <div class="content-right-child-item center content-right-child-grow fill-area"></div>
            <div class="content-right-child-item center content-right-child-grow fill-area"></div>
            <div class="content-right-child-item center content-right-child-grow fill-area"></div>
          </div>
        </div>
      </article>
    </section>
  </div>
  <div class="col-xs-12 col-md-9">
    <section class="section-feature item-feature" *ngFor="let iteHotel of arrHotel">
      <article class="feature">
        <div class="feature-left">
            <img src="../assets/images/hotels/{{iteHotel.image}}" alt=""/>
        </div>
        <div class="feature-center">
          <div class="content-center-child">
            <div class="content-center-child-item header">
                {{iteHotel.name}}
            </div>
  
            <div class="content-center-child-item center content-center-child-grow fill-area">
                <div class="content-center-child-grow fill-area-content">
                  <div class="stars">
                    <span class="stars" *ngFor="let item of fnGetArray(iteHotel.stars); let i = index;">
                      <div class="stars icon icon-star"></div>
                    </span>
                  </div>
                  <div class="amenities">
                    <span class="amenities" *ngFor="let iteHotelAmenities of iteHotel.amenities">
                      <div class="amenities icon icon-{{iteHotelAmenities}}"></div>  
                    </span>                  
                  </div>
                </div>
            </div>
  
            <div class="content-center-child-item footer">
                
            </div>
          </div>
        </div>
        <div class="feature-right">
          <div class="content-right-child">
            <div class="content-right-child-item center content-right-child-grow fill-area"></div>
            <div class="content-right-child-item center content-right-child-grow fill-area"></div>
            <div class="content-right-child-item center content-right-child-grow fill-area"></div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
