<div class="container">
  <div class="col-xs-12 col-md-3">
    <section class="section-search item-search">
      <article class="search">
        <div class="search-title">
          {{ 'TITLE.FILTER' | translate }}
        </div>
        <div class="search-box">
          
        </div>
        <div class="search-bottom">
          <div class="stars">
            <span class="stars blue">
              <div class="stars icon icon-star blue"></div>
              {{ 'TITLE.STAR' | translate }}
            </span>              
          </div>
          <div class="stars">
            <input type="checkbox" id="chkStartFive" value="5">
            <span>{{ 'TITLE.ALLSTAR' | translate }}</span>
          </div>          
          <div class="stars">
            <input type="checkbox" id="chkStartFive" value="5">
            <span class="stars" *ngFor="let item of fnGetArray(5); let i = index;">
              <div class="stars icon icon-star yellow"></div>
            </span>
          </div>
          <div class="stars">
            <input type="checkbox" id="chkStartFour" value="4">
            <span class="stars" *ngFor="let item of fnGetArray(4); let i = index;">
              <div class="stars icon icon-star yellow"></div>
            </span>
          </div>
          <div class="stars">
            <input type="checkbox" id="chkStartThree" value="3">
            <span class="stars" *ngFor="let item of fnGetArray(3); let i = index;">
              <div class="stars icon icon-star yellow"></div>
            </span>
          </div>
          <div class="stars">
            <input type="checkbox" id="chkStartTwo" value="2">
            <span class="stars" *ngFor="let item of fnGetArray(2); let i = index;">
              <div class="stars icon icon-star yellow"></div>
            </span>
          </div> 
          <div class="stars">
            <input type="checkbox" id="chkStartOne" value="1">
            <span class="stars" *ngFor="let item of fnGetArray(1); let i = index;">
              <div class="stars icon icon-star yellow"></div>
            </span>
          </div>                                             
        </div>
      </article>
    </section>
  </div>
  <div class="col-xs-12 col-md-9">
    <section class="section-feature item-feature" *ngFor="let iteHotel of arrHotel">
      <article class="feature">
        <div class="feature-left">
            <img src="../assets/images/hotels/{{iteHotel.image}}" alt=""/>
        </div>
        <div class="feature-center">
          <div class="feature-center-child">
            <div class="feature-center-child-item header">
                {{iteHotel.name}}
            </div>
  
            <div class="feature-center-child-item center feature-center-child-grow fill-area">
                <div class="feature-center-child-grow fill-area-content">
                  <div class="stars">
                    <span class="stars" *ngFor="let item of fnGetArray(iteHotel.stars); let i = index;">
                      <div class="stars icon icon-star"></div>
                    </span>
                  </div>
                  <div class="amenities">
                    <span class="amenities" *ngFor="let iteHotelAmenities of iteHotel.amenities">
                      <div class="amenities icon icon-{{iteHotelAmenities}}"></div>  
                    </span>                  
                  </div>
                </div>
            </div>
  
            <div class="feature-center-child-item footer">
                
            </div>
          </div>
        </div>
        <div class="feature-right">
          <div class="feature-right-child">
            <div class="feature-right-child-item center feature-right-child-grow fill-area"></div>
            <div class="feature-right-child-item center feature-right-child-grow fill-area"></div>
            <div class="feature-right-child-item center feature-right-child-grow fill-area"></div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
